<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calculadora ISPCAÁLA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calcular Gorjeta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Valor da Conta (Kz)</ion-label>
        <ion-input type="number" [(ngModel)]="valorConta"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">% de Gorjeta</ion-label>
        <ion-input type="number" [(ngModel)]="porcentagem"></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" class="ion-margin-top" (click)="calcular()">
        Calcular Total
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" *ngIf="total > 0">
    <ion-card-content style="text-align: center;">
      <h2>Total a Pagar:</h2>
      <h1 style="color: #3880ff;">{{ total | currency:'Kz ' }}</h1>
    </ion-card-content>
  </ion-card>
</ion-content>